@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body{
    background-color: #F5F3E6;
    width: 100%;
}

header{
    width: 100%;
    height: 20vh;
    background-color: #DB9696;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
    box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.6);
}

header img{
    height: 40%;
}

.header__title{
    display: flex;
    flex-direction: column;
}

.books__container{
    color: #452727;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: start;
    align-items: start;
    padding: 30px 500px 30px 30px;
    gap: 20px;
    background-colors: red;
}

.books{
    width: 100%;
    heighst: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.searchBook{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #daa5a5d6;
    border: none;
    font-size: 15px;
}